<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	
	<!-- db.properties -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:mybatis/db.properties"/>
	</bean>
	
	<!-- dataSource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}"/>
		<property name="url" value="${url}"/>
		<property name="username" value="${username}"/>
		<property name="password" value="${password}"/>
	</bean>
	
	<!-- mybatis factory -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="WEB-INF/spring/sqls/config.xml"/>
	</bean>
	<!-- classpath = src/main/resources
		value에 해당경로에 파일을 넣고 담고 싶다면 classpath:mybatis/config.xml 이런식으로 적을 수 있음 -->
	
	<!-- mybatis template -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"/>
	</bean>
	
	<!-- google Class Bean설정 추가 -->
	<!-- 클라이언트ID와 보안비밀 세팅 -->
	<bean id="googleConnectionFactory" class="org.springframework.social.google.connect.GoogleConnectionFactory">
 		 <constructor-arg value="886961978256-1qo5ub7uaejnbu24b9gir70dcqcpl2lv.apps.googleusercontent.com" />
  		 <constructor-arg value="uDzjsKd3SvGrFNrlErK4HHP2" />
	</bean>

	<!-- 승인된 자바스크립트 원본과 승인된 리디렉션 URI -->
	<bean id="googleOAuth2Parameters" class="org.springframework.social.oauth2.OAuth2Parameters">
  		<property name="scope" value="https://www.googleapis.com/auth/plus.login" />
  		<property name="redirectUri" value="http://localhost:8787/dara/callback2.do" />
</bean>
		
</beans>
