<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  
  	<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
	</settings>
  
  	<typeAliases>
  		<typeAlias type="com.gana.dara.dto.EduDto" alias="eduDto"/>
  		<typeAlias type="com.gana.dara.dto.EduWordDto" alias="eduWordDto"/>
  		<typeAlias type="com.gana.dara.dto.MemberDto" alias="MemberDto" />
		<typeAlias type="com.gana.dara.dto.OrderDailyDto" alias="OrderDailyDto" />
		<typeAlias type="com.gana.dara.dto.DailyBoardDto" alias="dailyBoardDto" />
		<typeAlias type="com.gana.dara.dto.MentoAnswerDto" alias="mentoAnswerDto" />
		<typeAlias type="com.gana.dara.dto.ShortDto" alias="ShortDto" />
		<typeAlias type="com.gana.dara.dto.CalDto" alias="CalDto" />
  	</typeAliases>
  	
  	<mappers>
  	<mapper resource="mybatis/Short-mapper.xml" />
		<mapper resource="mybatis/Cal-mapper.xml" />
  		<mapper resource="/mybatis/edu-mapper.xml"/>
  		<mapper resource="/mybatis/eduword-mapper.xml"/>
  		<mapper resource="/mybatis/member-mapper.xml" />
  		<mapper resource="mybatis/dailyboard_mapper.xml" />
		<mapper resource="mybatis/dailyboard_reply_mapper.xml" />
  	</mappers>
  
  </configuration>