<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cal">
	
	<select id="selectlist" resultType="CalDto">
		SELECT CAL_NO, MEMBER_NO, CAL_TITLE, CAL_CONTENT, CAL_MDATE, CAL_REGDATE FROM CALENDAR ORDER BY CAL_NO DESC
	</select>
	<insert id="insert" parameterType="CalDto">
		INSERT INTO CALENDAR VALUES()
	</insert>

</mapper>
