<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu">

	<select id="selectList" resultType="eduDto" parameterType="String">
		SELECT EDU_NO, EDU_GRADE, EDU_LEVEL, EDU_TITLE, EDU_DETAIL, EDU_URL
		FROM EDU
		WHERE EDU_GRADE = #{edu_grade}
		ORDER BY EDU_NO
	</select>

</mapper>