<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 로그인 -->
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
	SELECT * FROM MEMBER
	WHERE MEMBER_EMAIL = #{member_email} AND MEMBER_PW = #{member_pw}
	</select>
	
	<!-- 개인회원가입 -->
	<insert id="memberjoininsert" parameterType="MemberDto">
	INSERT INTO MEMBER (member_no, member_name, member_nic, member_email, member_pw, member_tel, member_birth, member_con, member_regdate, member_del, member_role, member_daily, mento_no, member_key)
	VALUES
	(MEMBERSEQ.NEXTVAL, #{member_name}, #{member_nic}, #{member_email}, #{member_pw}, 
	#{member_tel}, #{member_birth}, #{member_con}, SYSDATE, 'N', #{member_role}, 'N', NULL, 'Y')
	</insert>
	
	<!-- 네이버 로그인 -->
  	<insert id="naverlogin" parameterType="MemberDto">
  	INSERT INTO MEMBER (member_no, member_name, member_nic, member_email, member_pw, member_tel, member_birth, member_con, member_regdate, member_del, member_role, member_daily, mento_no, member_key)
	VALUES
	(MEMBERSEQ.NEXTVAL, #{member_name}, #{member_nic}, #{member_email}, NULL, NULL, NULL, NULL, SYSDATE, 'N', 'USER', 'N', NULL, 'Y' )
  	</insert>
	
	<!-- 회원 인증키(난수) 생성 -->
	<insert id="GetKey" parameterType="Map">
		update member set member_key = #{param2} where member_email = #{param1}
	</insert>

	<!-- 회원 인증키(난수) Y로 변경 -->
	<update id="alter_memberKey" parameterType="Map">
		update member set member_key = 'Y' where member_email = #{param1} and member_key = #{param2}
	</update>
	
	<!-- 아이디(member_email) 중복체크 -->
	<select id="memberidcheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_EMAIL = #{member_email}
	</select>
	
	<!-- 닉네임(member_nic) 중복체크 -->
	<select id="memberniccheck" parameterType="String" resultType="Integer">
	SELECT COUNT(*) FROM MEMBER WHERE MEMBER_NIC = #{member_nic}
	</select>

	<!-- 회원정보 수정 -->
	<update id="memberupdate" parameterType="MemberDto">
	UPDATE MEMBER SET
	MEMBER_NAME = #{member_name},
	MEMBER_NIC = #{member_nic},
	MEMBER_EMAIL = #{member_email},
	MEMBER_PW = #{member_pw},
	MEMBER_TEL = #{member_tel},
	MEMBER_BIRTH = #{member_birth},
	MEMBER_CON = #{member_con},
	MEMBER_ROLE = #{member_role},
	MEMBER_DAILY = #{member_daily}
	WHERE MEMBER_EMAIL = #{member_email}
	</update>
	
	<!-- 구매 후 멤버쉽(member_daily) 컬럼 변경 -->
	<update id="dailyservice" parameterType="String">
  		UPDATE MEMBER
  		SET MEMBER_DAILY = 'Y'
  		WHERE MEMBER_EMAIL = #{member_email}
  	</update>
  	
  	<!-- member_role 데려오기 -->
	<select id="memberrole" parameterType="String" resultType="String">
	SELECT MEMBER_ROLE FROM MEMBER
	WHERE MEMBER_EMAIL = #{member_email}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="searchId" parameterType="String" resultType="String">
		SELECT MEMBER_EMAIL FROM MEMBER
		WHERE MEMBER_NAME = #{member_name} and MEMBER_TEL = #{member_tel}
	</select>
	
	<!-- 비밀번호 찾기 -->
  	<select id="searchPw" resultType="String">
		SELECT MEMBER_PW FROM MEMBER
		WHERE MEMBER_EMAIL = #{member_email} and MEMBER_NAME = #{member_name} and MEMBER_TEL = #{member_tel}
	</select>
</mapper>